/*
     Valv3.exe ~ Ricky Caesar Aprilla Tiaka
     rickycaesar6402@gmail.com
    ...- .- .-.. ...- ...-- .-.-.- . -..- . / -...- / .-. .. -.-. -.- -.-- / -.-. .- . ... .- .-. / .- .--. .-. .. .-.. .-.. .- / - .. .- -.- .- .-.-.- / .-. .. -.-. -.- -.-- -.-. .- . ... .- .-. -.... ....- ----- ..--- .--.-. --. -- .- .. .-.. .-.-.- -.-. --- --
*/

* {
    padding: 0;
    margin: 0;
}

/* font family */

@font-face {
    font-family: 'Æ Systematic TT BRK';
    /* font name you can see from your .tff file */
    src: url('aesymatt.ttf');
    /* <- from file font ttf, you can change it with your font */
}

html {
    font-family: 'Æ Systematic TT BRK';
    /* use font on html */
}

/* font family end */

/* item align */
.i-center {
    align-items: center;
}

/* item align end */

/* text align */

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

/* text align end */

/* text size */

.t-size1 {
    font-size: 24px;
}

.t-size2 {
    font-size: 28px;
}

.t-size3 {
    font-size: 32px;
}

/* text size end */

/* text color */

.t-black {
    color: black;
}

.t-white {
    color: white;
}

/* text color end */

/* GRID */

.raw {
    display: flex;
    flex-direction: row;
}


.cal1 {
    width: 8.33%;
}

.cal2 {
    width: 16.66%;
}

.cal3 {
    width: 25%;
}

.cal4 {
    width: 33.33%;
}

.cal5 {
    width: 41.66%;
}

.cal6 {
    width: 50%;
}

.cal7 {
    width: 58.33%;
}

.cal8 {
    width: 66.66%;
}

.cal9 {
    width: 75%;
}

.cal10 {
    width: 83.33%;
}

.cal11 {
    width: 91.66%;
}

.cal12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    [class*="cal"] {
        width: 100%;
    }
}

/*padding*/

/* padding 1 */

.padd1 {
    padding: 1%;
}

.padd1-t {
    padding-top: 1%;
}

.padd1-r {
    padding-right: 1%;
}

.padd1-b {
    padding-bottom: 1%;
}

.padd1-l {
    padding-left: 1%;
}

/* padding 1 end */

/* padding 2 */

.padd2 {
    padding: 2%;
}

.padd2-t {
    padding-top: 2%;
}

.padd-r {
    padding-right: 2%;
}

.padd2-b {
    padding-bottom: 2%;
}

.padd2-l {
    padding-left: 2%;
}

/* padding 2 end */

/* padding 3 */

.padd3 {
    padding: 3%;
}

.padd3-t {
    padding-top: 3%;
}

.padd3-r {
    padding-right: 3%;
}

.padd3-b {
    padding-bottom: 3%;
}

.padd3-l {
    padding-left: 3%;
}

/* padding 3 end */

/* padding 4 */

.padd4 {
    padding: 4%;
}

.padd4-t {
    padding-top: 4%;
}

.padd4-r {
    padding-right: 4%;
}

.padd4-b {
    padding-bottom: 4%;
}

.padd4-l {
    padding-left: 4%;
}

/* padding 4 end */

/* padding 5 */

.padd5 {
    padding: 5%;
}

.padd5-t {
    padding-top: 5%;
}

.padd5-r {
    padding-right: 5%;
}

.padd5-b {
    padding-bottom: 5%;
}

.padd5-l {
    padding-left: 5%;
}

/* padding 5 end */

/* padding auto */

.paddauto-t {
    padding-top: auto;
}

.paddauto-r {
    padding-right: auto;
}

.paddauto-b {
    padding-bottom: auto;
}

.paddauto-l {
    padding-left: auto;
}

/* padding auto */

/*padding end*/

/*margin*/

/* margin 1 */
.marg1 {
    margin: 1%;
}

.marg1-t {
    margin-top: 1%;
}

.marg1-r {
    margin-right: 1%;
}

.marg1-b {
    margin-bottom: 1%;
}

.marg1-l {
    margin-left: 1%;
}

/* margin 1 end */

/* margin 2 */

.marg2 {
    margin: 2%;
}

.marg2-t {
    margin-top: 2%;
}

.marg2-r {
    margin-right: 2%;
}

.marg2-b {
    margin-bottom: 2%;
}

.marg2-l {
    margin-left: 2%;
}

/* margin 2 end */

/* margin 3 */

.marg3 {
    margin: 3%;
}

.marg3-t {
    margin-top: 3%;
}

.marg3-r {
    margin-right: 3%;
}

.marg3-b {
    margin-bottom: 3%;
}

.marg3-l {
    margin-left: 3%;
}

/* margin 3 end */

/* margin 4 */

.marg4 {
    margin: 4%;
}

.marg4-t {
    margin-top: 4%;
}

.marg4-r {
    margin-right: 4%;
}

.marg4-b {
    margin-bottom: 4%;
}

.marg4-l {
    margin-left: 4%;
}

/* margin 4 end */

/* margin 5 */

.marg5 {
    margin: 5%;
}

.marg5-t {
    margin-top: 5%;
}

.marg5-r {
    margin-right: 5%;
}

.marg5-b {
    margin-bottom: 5%;
}

.marg5-l {
    margin-left: 5%;
}

/* margin 5 end */

/* margin auto */

.margauto-t {
    margin-top: auto;
}

.margauto-r {
    margin-right: auto;
}

.margauto-b {
    margin-bottom: auto;
}

.margauto-l {
    margin-left: auto;
}

/* margin auto end */

/*margin end*/

/*justify content*/

.just-start {
    justify-content: flex-start;
}

.just-half {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

/*justify content end*/

/* GRID end */

/*component*/

/* gap */

.gap {
    max-width: 100vw;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
}

.ungap {
    max-width: 100vw;
}

/* gap end */

/* navbang */

.navbang {
    display: flex;
}

/* navbang component */

.navbang-title {
    display: inline-block;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbang-link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbang-link li {
    margin-bottom: -1px;
    flex: 1 1 auto;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.navbang-link a {
    text-decoration: none;
    padding: 2.5px 5px;
}

/* navbang component end */

/* navbang end */

/* field */
.field-content {
    display: grid;
    border-radius: 5px;
    background: none;
    position: relative;
}

.field-content:after {
    content: 'test';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
}

.field-box {
    z-index: 1;
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    background-image: url('2.png');
    background-size: cover;
}

.field-title-box {
    overflow: hidden;
}

.field-title-box:after {
    top: -10px;
    width: 150vw;
    height: 40rem;
    background: rgba(255, 255, 255, 0.644);
    filter: drop-shadow(8px 8px 10px rgb(7, 7, 7));
    transform: translateX(-50%) translateY(-50%) rotate(-30deg);
}

@media only screen and (max-width: 768px) {
    .field-title-box:after {
        top: -17%;
        width: 190vw;
        height: 10.5rem;
        transform: translateX(0) translateY(0) rotate(0);
    }
}

/* field end */

/* divider */
.divider {
    width: 100%;
    height: 2.5px;
    border-radius: 50px;
    opacity: 0.5;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* divider end */

/* button*/
.btn {
    font-family: 'Æ Systematic TT BRK';
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    background: none;
    position: relative;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
}

.btn-grass {
    background-color: rgb(146, 207, 110);
    z-index: 1;
    border: none;
    color: rgb(34, 34, 34);
    
}

.btn-water {
    background-color: rgb(110, 180, 207);
    z-index: 1;
    border: none;
    color: rgb(34, 34, 34);
}

.btn-lava {
    background-color: rgb(207, 110, 110);
    z-index: 1;
    border: none;
    color: rgb(34, 34, 34);
}

.btn-sun {
    background-color: rgb(207, 157, 110);
    z-index: 1;
    border: none;
    color: rgb(34, 34, 34);
}   

.btn-black {
    background-color: rgb(48, 48, 48);
    z-index: 1;
    border: none;
    color: rgb(240, 240, 240);
}

.btn-white {
    background-color: rgb(202, 202, 202);
    z-index: 1;
    border: none;
    color: rgb(34, 34, 34);
}

.btn-box-text {
    overflow: hidden;
}

.btn-box-text:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.61);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-40deg);
}


.btn-box-text:hover:after {
    height: 100%;
    opacity: 1;
}

.btn-box-text:active:after {
    height: 160%;
}

/* button end */

/*component end*/