/*
     Valv3.exe ~ Ricky Caesar Aprilla Tiaka
     rickycaesar6402@gmail.com
    ...- .- .-.. ...- ...-- .-.-.- . -..- . / -...- / .-. .. -.-. -.- -.-- / -.-. .- . ... .- .-. / .- .--. .-. .. .-.. .-.. .- / - .. .- -.- .- .-.-.- / .-. .. -.-. -.- -.-- -.-. .- . ... .- .-. -.... ....- ----- ..--- .--.-. --. -- .- .. .-.. .-.-.- -.-. --- --
*/

* {
    padding: 0;
    margin: 0;
}

/* font family */

@font-face {
    font-family: 'Æ Systematic TT BRK';
    /* font name you can see from your .tff file */
    src: url('aesymatt.ttf');
    /* <- from file font ttf, you can change it with your font */
}

html {
    font-family: 'Æ Systematic TT BRK';
    /* use font on html */
}

/* font family end */

/* item align */

.i-center {
    align-items: center;
}

/* item align end */

/* image align */
.img-left {
    display: block;
    margin-right: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right {
    display: block;
    margin-left: auto;
}

/* image align end */

/* text align */

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

/* text align end */

/* text size */

.t-size1 {
    font-size: 14px;
}

.t-size2 {
    font-size: 18px;
}

.t-size3 {
    font-size: 22px;
}

.t-size4 {
    font-size: 26px;
}

.t-size5 {
    font-size: 30px;
}

/* text size end */

/* text color */

.t-black {
    color: black;
}

a.t-black:hover {
    color: rgb(70, 70, 70);
}

.t-white {
    color: white;
}

a.t-white:hover {
    color: rgb(202, 202, 202);
}

/* text color end */

/* GRID */

/* raw */

.raw {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.raw-rev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.raw-cal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.raw-cal-rev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

/* raw end */


.cal1 {
    width: 8.33%;
}

.cal2 {
    width: 16.66%;
}

.cal3 {
    width: 25%;
}

.cal4 {
    width: 33.33%;
}

.cal5 {
    width: 41.66%;
}

.cal6 {
    width: 50%;
}

.cal7 {
    width: 58.33%;
}

.cal8 {
    width: 66.66%;
}

.cal9 {
    width: 75%;
}

.cal10 {
    width: 83.33%;
}

.cal11 {
    width: 91.66%;
}

.cal12 {
    width: 100%;
}

.calauto {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    max-width: auto;
}

@media only screen and (max-width: 768px) {
    [class*="cal"] {
        width: 100%;
        margin-bottom: 1%;
    }
}

/*padding*/

/* padding 1 */

.padd1 {
    padding: 1%;
}

.padd1-t {
    padding-top: 1%;
}

.padd1-r {
    padding-right: 1%;
}

.padd1-b {
    padding-bottom: 1%;
}

.padd1-l {
    padding-left: 1%;
}

/* padding 1 end */

/* padding 2 */

.padd2 {
    padding: 2%;
}

.padd2-t {
    padding-top: 2%;
}

.padd-r {
    padding-right: 2%;
}

.padd2-b {
    padding-bottom: 2%;
}

.padd2-l {
    padding-left: 2%;
}

/* padding 2 end */

/* padding 3 */

.padd3 {
    padding: 3%;
}

.padd3-t {
    padding-top: 3%;
}

.padd3-r {
    padding-right: 3%;
}

.padd3-b {
    padding-bottom: 3%;
}

.padd3-l {
    padding-left: 3%;
}

/* padding 3 end */

/* padding 4 */

.padd4 {
    padding: 4%;
}

.padd4-t {
    padding-top: 4%;
}

.padd4-r {
    padding-right: 4%;
}

.padd4-b {
    padding-bottom: 4%;
}

.padd4-l {
    padding-left: 4%;
}

/* padding 4 end */

/* padding 5 */

.padd5 {
    padding: 5%;
}

.padd5-t {
    padding-top: 5%;
}

.padd5-r {
    padding-right: 5%;
}

.padd5-b {
    padding-bottom: 5%;
}

.padd5-l {
    padding-left: 5%;
}

/* padding 5 end */

/* padding auto */

.paddauto-t {
    padding-top: auto;
}

.paddauto-r {
    padding-right: auto;
}

.paddauto-b {
    padding-bottom: auto;
}

.paddauto-l {
    padding-left: auto;
}

/* padding auto */

/*padding end*/

/*margin*/

/* margin 1 */
.marg1 {
    margin: 1%;
}

.marg1-t {
    margin-top: 1%;
}

.marg1-r {
    margin-right: 1%;
}

.marg1-b {
    margin-bottom: 1%;
}

.marg1-l {
    margin-left: 1%;
}

/* margin 1 end */

/* margin 2 */

.marg2 {
    margin: 2%;
}

.marg2-t {
    margin-top: 2%;
}

.marg2-r {
    margin-right: 2%;
}

.marg2-b {
    margin-bottom: 2%;
}

.marg2-l {
    margin-left: 2%;
}

/* margin 2 end */

/* margin 3 */

.marg3 {
    margin: 3%;
}

.marg3-t {
    margin-top: 3%;
}

.marg3-r {
    margin-right: 3%;
}

.marg3-b {
    margin-bottom: 3%;
}

.marg3-l {
    margin-left: 3%;
}

/* margin 3 end */

/* margin 4 */

.marg4 {
    margin: 4%;
}

.marg4-t {
    margin-top: 4%;
}

.marg4-r {
    margin-right: 4%;
}

.marg4-b {
    margin-bottom: 4%;
}

.marg4-l {
    margin-left: 4%;
}

/* margin 4 end */

/* margin 5 */

.marg5 {
    margin: 5%;
}

.marg5-t {
    margin-top: 5%;
}

.marg5-r {
    margin-right: 5%;
}

.marg5-b {
    margin-bottom: 5%;
}

.marg5-l {
    margin-left: 5%;
}

/* margin 5 end */

/* margin auto */

.margauto-t {
    margin-top: auto;
}

.margauto-r {
    margin-right: auto;
}

.margauto-b {
    margin-bottom: auto;
}

.margauto-l {
    margin-left: auto;
}

/* margin auto end */

/*margin end*/

/*justify content*/

.just-start {
    justify-content: flex-start;
}

.just-half {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

/*justify content end*/

/* GRID end */

/*component*/

/* gap */

.gap {
    max-width: 100vw;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
}

.ungap {
    max-width: 100vw;
}

/* gap end */

/* navbang */

.navbang {
    display: flex; 
    transition: 0.5s all ease-in-out;
}

.fixed-nav {
    z-index: 3;
    display: flex; 
    top: -100;
    position: fixed;
    width: 100%;
    transition: 0.5s all ease-in-out;
}

/* navbang component */

.navbang-title.title-black {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbang-title.title-white {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbang-link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .navbang-link {
        display: none;
    }

    .navbang-title {
        margin-left: auto;
        margin-right: auto;
    }
}

.navbang-link li {
    margin-bottom: -1px;
    flex: 1 1 auto;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.navbang-link a {
    text-decoration: none;
    padding: 2.5px 5px;
    
}

.navbang-link.link-black a {
    color: rgb(80, 80, 80);
}

.navbang-link.link-black a:hover {
    color: black;
}

.navbang-link.link-white a {
    
    color: rgb(202, 202, 202);
}

.navbang-link.link-white a:hover {
    color: white;
}
   
/* navbang component end */

/* navbang end */

/* banner */

.banner {
    display: grid;
    border-radius: 5px;
    background: none;
    position: relative;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    z-index: 1;
}

.banner-content {
    background-color: rgba(66, 66, 66, 0.685);
    border-radius: 5px;
    text-align: end;
    color: white;
    padding: 1%;
    width: 40vw;
    min-height: 150px;
}

.banner-content p {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.banner:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
}

.banner-box {
    background-size: cover;
}

.banner-box-grass {
    background-color: rgb(146, 207, 110);
}

.banner-box-water {
    background-color: rgb(110, 180, 207);
}

.banner-box-lava {
    background-color: rgb(207, 110, 110);
}

.banner-box-sun {
    background-color: rgb(207, 157, 110);
}

.banner-box-black {
    background-color: rgb(48, 48, 48);
}

.banner-box-white {
    background-color: rgb(202, 202, 202);
}

.banner-title {
    overflow: hidden;
}

.banner-title:after {
    top: -10px;
    width: 150vw;
    height: 40rem;
    background: rgba(216, 216, 216, 0.644);
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    transform: translateX(-50%) translateY(-50%) rotate(-30deg);
}

@media only screen and (max-width: 768px) {
    .banner-title:after {
        top: -17%;
        width: 190vw;
        height: 10.5rem;
        transform: translateX(0) translateY(0) rotate(0);
    }
}

/* banner end */

/* card alert */

[class*="card-alert-"] {
    padding: 1%;
    border-radius: 5px;
}

.card-alert-grass {
    background-color: rgba(146, 207, 110, 0.568);
    border: 2px solid rgb(146, 207, 110);
    color: rgb(75, 179, 15);
}

.card-alert-water {
    background-color: rgb(110, 180, 207, 0.568);
    border: 2px solid rgb(110, 180, 207);
    color: rgb(37, 135, 173);
}

.card-alert-lava {
    background-color: rgb(207, 110, 110, 0.568);
    border: 2px solid rgb(207, 110, 110);
    color: rgb(185, 60, 60);
}

.card-alert-sun {
    background-color: rgb(207, 157, 110, 0.568);
    border: 2px solid rgb(207, 157, 110);
    color: rgb(187, 121, 59);
}

.card-alert-black {
    background-color: rgb(48, 48, 48, 0.568);
    border: 2px solid rgb(48, 48, 48);
    color: rgb(48, 48, 48);
}

.card-alert-white {
    background-color: rgb(202, 202, 202, 0.568);
    border: 2px solid rgb(202, 202, 202);
    color: rgb(138, 138, 138);
}

/* card alert end */

/* field */

[class*="field-"] {
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    border-radius: 5px;
}

.field-grass {
    background-color: rgb(146, 207, 110);
}

.field-water {
    background-color: rgb(110, 180, 207);
}

.field-lava {
    background-color: rgb(207, 110, 110);
}

.field-sun {
    background-color: rgb(207, 157, 110);
}

.field-black {
    background-color: rgb(48, 48, 48);
}

.field-white {
    background-color: rgb(202, 202, 202);
}

/* field end */

/* divider */
[class*='divider-'] {
    display: grid;
    width: 100%;
    height: 2.5px;
    border-radius: 50px;
    opacity: 0.5;
    margin-top: 1.5vh;
    margin-bottom: 1.8vh;
}

.divider-grass {

    background-color: rgb(146, 207, 110);
}

.divider-water {
    background-color: rgb(110, 180, 207);
}

.divider-lava {
    background-color: rgb(207, 110, 110);
}

.divider-sun {
    background-color: rgb(207, 157, 110);
}

.divider-black {
    background-color: rgb(48, 48, 48);
}

.divider-white {
    background-color: rgb(202, 202, 202);
}

/* divider end */

/* button*/
.btn {
    font-family: 'Æ Systematic TT BRK';
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    background: none;
    position: relative;
    z-index: 1;
    border: none;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
}

.btn-grass {
    background-color: rgb(146, 207, 110);
    color: rgb(34, 34, 34);

}

.btn-water {
    background-color: rgb(110, 180, 207);
    color: rgb(34, 34, 34);
}

.btn-lava {
    background-color: rgb(207, 110, 110);
    color: rgb(34, 34, 34);
}

.btn-sun {
    background-color: rgb(207, 157, 110);
    color: rgb(34, 34, 34);
}

.btn-black {
    background-color: rgb(48, 48, 48);
    color: rgb(240, 240, 240);
}

.btn-white {
    background-color: rgb(202, 202, 202);
    color: rgb(34, 34, 34);
}

.btn-box {
    overflow: hidden;
}

.btn-box:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.61);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-40deg);
}


.btn-box:hover:after {
    height: 100%;
    opacity: 1;
}

.btn-box:active:after {
    height: 160%;
}

/* button end */

/* tag */

[class*="tag-"] {
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: color 0.1s;
    cursor: pointer;
    border: none;
}

.tag-grass {
    background-color: rgb(146, 207, 110);
    color: rgb(34, 34, 34);
}

.tag-grass:hover {
    color: white;
}

.tag-grass:active {
    color: rgb(202, 202, 202);
}

.tag-water {
    background-color: rgb(110, 180, 207);
    color: rgb(34, 34, 34);
}

.tag-water:hover {
    color: white;
}

.tag-water:active {
    color: rgb(202, 202, 202);
}

.tag-lava {
    background-color: rgb(207, 110, 110);
    color: rgb(34, 34, 34);
}

.tag-lava:hover {
    color: white;
}

.tag-lava:active {
    color: rgb(202, 202, 202);
}

.tag-sun {
    background-color: rgb(207, 157, 110);
    color: rgb(34, 34, 34);
}

.tag-sun:hover {
    color: white;
}

.tag-sun:active {
    color: rgb(202, 202, 202);
}

.tag-black {
    background-color: rgb(48, 48, 48);
    color: rgb(240, 240, 240);
}

.tag-black:hover {
    color: rgb(202, 202, 202);
}

.tag-black:active {
    color: white;
}

.tag-white {
    background-color: rgb(202, 202, 202);
    color: rgb(34, 34, 34);
}

.tag-white:hover {
    color: white;
}

.tag-white:active {
    color: rgb(202, 202, 202);
}

/* tag end */

/*component end*/